0.0.0.0:2015 {
    root /www/public

    # sync the repo and then gen public site
    git {
        repo {$REPO}
        path ../src
        args --recurse-submodules
        then hugo --destination=/www/public
    }

    # write log to stdout for docker
    log stdout
    errors stdout
}

